<div id="responsive-menu" tabindex="-1" aria-labelledby="responsive-menu-label"
  class="fixed left-0 top-0 z-[100] h-screen w-72 -translate-x-full overflow-y-auto border-r bg-white p-4 transition-transform">
  <a href="#">
    <img src="assets/logo/anphu-holdinngs-80x80.png" alt="An Phú Holdings" class="size-fit" width="80" height="40"
      loading="lazy" />
  </a>
  <button type="button" data-drawer-hide="responsive-menu" aria-controls="responsive-menu"
    class="absolute end-2.5 top-2.5 inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
    <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div class="overflow-y-auto py-4">
    <ul class="space-y-2 font-medium">
      <!-- Văn phòng cho thuê -->
      <li>
        <button type="button"
          class="group flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-cho-thue-van-phong" data-collapse-toggle="dropdown-cho-thue-van-phong">
          <a target="_blank" class="flex-1 whitespace-nowrap text-left" href="cho-thue-van-phong.html">
            Cho thuê văn phòng
          </a>
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-cho-thue-van-phong" class="hidden space-y-2 py-2">
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 1
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 2
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 3
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 4
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 5
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 7
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 8
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 9
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 10
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 11
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận 12
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận Bình Thạnh
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận Gò Vấp
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận Tân Bình
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng cho thuê Quận Tân Phú
            </a>
          </li>
        </ul>
      </li>

      <!-- Văn phòng theo phường -->
      <li>
        <button type="button"
          class="group flex justify-between w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-cho-thue-van-phong-theo-phuong"
          data-collapse-toggle="dropdown-cho-thue-van-phong-theo-phuong">
          Văn phòng theo phường
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-cho-thue-van-phong-theo-phuong" class="hidden space-y-2 py-2">
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Sài Gòn - Quận 1
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Tân Định - Quận 1
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Bến Thành - Quận 1
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Cầu Ông Lãnh - Quận 1
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Bàn Cờ - Quận 3
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Xuân Hòa - Quận 3
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Võ Thị Sáu - Quận 3
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Khánh Hội - Quận 4
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Bến Vân Đồn - Quận 4
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Chợ Lớn - Quận 5
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Hùng Vương - Quận 5
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Tân Hưng - Quận 7
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Phú Mỹ Hưng - Quận 7
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Tân Phong – Tân Quy - Quận 7
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Nhật Tảo Quận - 10
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Đồng Tiến - Quận 10
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Vĩnh Viễn - Quận 10
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Hòa Bình - Quận 11
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Thiên Hộ - Quận 11
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Lạc Long Quân -Quận 11
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Thanh Đa - Quận Bình Thạnh
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Văn Thánh - Quận Bình Thạnh
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Bạch Đằng - Quận Bình Thạnh
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Bình Lợi - Quận Bình Thạnh
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Bình Tân - Quận Tân Bình
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Tân Tạo - Quận Tân Bình
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường An Lạc - Quận Tân Bình
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Bình Trị Đông - Quận Tân Bình
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường An Hội – Thống Nhất - Quận Tân phú
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Tân Quý – Tân Sơn Nhì - Quận Tân phú
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường Phú Thọ Hòa – Hòa Thạnh - Quận Tân phú
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-cho-thue-phuong-tan-dinh.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Phường An Hội – Thống Nhất - Quận Tân phú
            </a>
          </li>
        </ul>
      </li>

      <!-- Văn phòng theo hạng -->
      <li>
        <button type="button"
          class="group flex justify-between w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-cho-thue-van-phong-theo-hang"
          data-collapse-toggle="dropdown-cho-thue-van-phong-theo-hang">
          Văn phòng theo hạng
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-cho-thue-van-phong-theo-hang" class="hidden space-y-2 py-2">
          <li>
            <a target="_blank" href="van-phong-hang-a.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng hạng A
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-hang-a.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng hạng B
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-hang-a.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng hạng C
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-hang-a.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng hạng giá rẻ
            </a>
          </li>
        </ul>
      </li>

      <!-- Văn phòng trọn gói-->
      <li>
        <button type="button"
          class="group flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-cho-thue-van-phong-tron-goi"
          data-collapse-toggle="dropdown-cho-thue-van-phong-tron-goi">
          <a target="_blank" class="flex-1 whitespace-nowrap text-left" href="van-phong-tron-goi-theo-quan.html">
            Văn phòng trọn gói
          </a>
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-cho-thue-van-phong-tron-goi" class="hidden space-y-2 py-2">
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận 1
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận 3
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận 4
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận 5
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận 7
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận 10
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận Bình Thạnh
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận Tân Bình
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận Thủ Đức
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Văn phòng trọn gói Quận Phú Nhuận
            </a>
          </li>
          <li>
            <a target="_blank" href="van-phong-tron-goi-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              >Văn phòng trọn gói Quận Gò Vấp
            </a>
          </li>
        </ul>
      </li>

      <!-- Cho thuê tòa nhà -->
      <li>
        <button type="button"
          class="group flex w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-cho-thue-toa-nha" data-collapse-toggle="dropdown-cho-thue-toa-nha">
          <a target="_blank" class="flex-1 whitespace-nowrap text-left" href="cho-thue-toa-nha.html">
            Cho thuê tòa nhà
          </a>
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-cho-thue-toa-nha" class="hidden space-y-2 py-2">
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê tòa nhà Quận 1
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê tòa nhà Quận 3
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê tòa nhà Quận 4
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê tòa nhà Quận 5
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê tòa nhà Quận 7
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê tòa nhà Quận 10
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê toà nhà Quận Bình Thạnh
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê toà nhà Quận Tân Bình
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê toà nhà Quận Thủ Đức
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê toà nhà Quận Phú Nhuận
            </a>
          </li>
          <li>
            <a target="_blank" href="cho-thue-toa-nha-quan-1.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Cho thuê toà nhà Quận Gò Vấp
            </a>
          </li>
        </ul>
      </li>

      <!-- Nội thất văn phòng -->
      <li>
        <button type="button"
          class="group flex justify-between w-full items-center rounded-lg p-2 text-base text-gray-900 transition duration-75 hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-noi-that-van-phong" data-collapse-toggle="dropdown-noi-that-van-phong">
          Nội thất văn phòng
          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <ul id="dropdown-noi-that-van-phong" class="hidden space-y-2 py-2">
          <li>
            <a target="_blank" href="thiet-ke-thi-cong-noi-that.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Thiết kế thi công nội thất
            </a>
          </li>
          <li>
            <a target="_blank" href="du-an-hoan-thien.html"
              class="group flex w-full items-center rounded-lg py-2 pl-5 text-gray-900 transition duration-75 hover:bg-gray-200">
              Dự án đã hoàn thiện
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>