<div class="container overflow-hidden py-8 px-4 office-rental-swipe-container">
    <div class="mb-8 flex gap-5 items-center justify-between">
        <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" class="text-xl md:text-2xl lg:text-3xl font-bold text-navy line-clamp-1 overflow-ellipsis">
            VĂN PHÒNG CHO THUÊ HẠNG A
        </h2>
    </div>

    <!-- Swiper -->
    <div data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-offset="150" class=" px-2">
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4">
            <!-- Card 1 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-28.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                    </div>
                    <div class="absolute left-3 top-2 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 19/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        Mê Linh Point Tower
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">43 - 46 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">02 Ngô Đức Kế, Phường Sài Gòn, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-29.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                    </div>
                    <div class="absolute left-3 top-3 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 19/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        Vietcombank Tower
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">53 - 55 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">5 Công Trường Mê Linh, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-30.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                    </div>
                    <div class="absolute left-3 top-3 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 21/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        Sonatus Building
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">43 - 45 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">15 Lê Thánh Tôn, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-31.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                    </div>
                    <div class="absolute left-3 top-3 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 20/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        VOV Building
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">21 - 25 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">7 Nguyễn Thị Minh Khai, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <!-- Card 5 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-28.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                        <!-- <i class="fas fa-image text-5xl text-gray-400"></i> -->
                    </div>
                    <div class="absolute left-3 top-2 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 19/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        Mê Linh Point Tower
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">43 - 46 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">02 Ngô Đức Kế, Phường Sài Gòn, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card 6 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-29.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                    </div>
                    <div class="absolute left-3 top-3 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 19/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        Vietcombank Tower
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">53 - 55 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">5 Công Trường Mê Linh, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card 7 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-30.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                    </div>
                    <div class="absolute left-3 top-3 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 21/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        Sonatus Building
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">43 - 45 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">15 Lê Thánh Tôn, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Card 8 -->
            <div class="overflow-hidden rounded-2xl shadow-md transition hover:shadow-xl border-4 border-slate-500 hover:border-slate-600" style="width: 292px;"
            data-aos="fade-right">
                <div class="relative overflow-hidden">
                    <div class="flex h-48 items-center justify-center bg-slate-200">
                        <img src="assets/images/detail/detail-31.jpg" alt="" class="block w-full h-full object-cover aspect-4/3">
                    </div>
                    <div class="absolute left-3 top-3 rounded bg-gold px-2 py-1 text-xs font-semibold text-white">
                        LEED PLATINUM
                    </div>
                    <button class="absolute right-3 top-3 rounded-lg bg-white p-2 shadow transition hover:bg-gray-50">
                        <i class="far fa-heart text-gold"></i>
                    </button>
                </div>

                <div class="p-4">
                    <p class="mb-1 text-sm text-gray-500">
                        Cập nhật ngày 20/11/2025
                    </p>
                    <h3 class="mb-3 text-lg font-semibold text-navy overflow-ellipsis line-clamp-1">
                        VOV Building
                    </h3>

                    <div class="mb-2 flex items-center gap-2">
                        <i class="fas fa-tag text-sm text-navy"></i>
                        <span class="font-semibold text-gold">21 - 25 USD/m2</span>
                        <span class="text-gray-600">/ M2</span>
                    </div>

                    <div class="mb-4 flex items-start gap-2 text-sm text-gray-600">
                        <i class="fas fa-map-marker-alt mt-1 text-navy"></i>
                        <span class="w-full overflow-ellipsis line-clamp-1">7 Nguyễn Thị Minh Khai, Quận 1</span>
                    </div>

                    <div class="flex items-center justify-between">
                        <button
                            class="rounded-xl border border-navy px-4 py-2 text-sm text-navy transition hover:bg-navy hover:text-white">
                            So sánh
                        </button>
                        <button class="rounded-xl border border-gray-300 p-2 transition hover:bg-gold/10">
                            <i class="far fa-clone text-navy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>