<div
    class="h2-reviews-swiper section-padding container flex max-w-[1170px] flex-col items-center justify-center overflow-hidden px-3 2xl:px-0">
    <h2 data-aos="zoom-in-up" class="heading-2 uppercase">cảm nhận từ khách hàng</h2>
    <p data-aos="zoom-in-up" data-aos-delay="150" class="heading-tagline">
        World-class care for everyone. Our health System offers unmatched,
        expert health care.
    </p>

    <div class="swiper-wrapper w-full">
        <!-- Card 1 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-1.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Alex Hales</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae doloremque doloribus quaerat dignissimos
                deserunt voluptatum quisquam delectus debitis voluptates repellendus maiores optio nostrum mollitia
                expedita, laboriosam veniam, iure reprehenderit voluptas."
            </p>
        </div>

        <!-- Card 2 -->

        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-2.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Joh Doe</h4>
                    <div class="text-primary">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores fugiat optio veniam dignissimos
                nesciunt rem debitis nobis architecto vitae? Corporis dolore, corrupti nemo pariatur odio numquam illo
                alias quis modi?"
            </p>
        </div>

        <!-- Card 3 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-3.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Jane Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore inventore explicabo soluta, id
                repudiandae, ipsa officia quia aperiam voluptates, error accusamus. Accusantium tempora id aliquid?
                Impedit repellendus et sequi totam."
            </p>
        </div>

        <!-- Card 4 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-4.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Alex Hales</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet iusto dolore magni dolor autem
                exercitationem nam quo aliquam eos quam deleniti enim perferendis, et consequatur cupiditate nesciunt
                quisquam quas temporibus."
            </p>
        </div>

        <!-- Card 5 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-5.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Joh Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sit eum modi temporibus dicta accusamus
                sint qui, voluptate eveniet magnam quibusdam aspernatur quaerat perspiciatis maiores facilis quod
                dolore, repellendus repellat."
            </p>
        </div>

        <!-- Card 6 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-6.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Jane Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque deleniti, eum facilis dolorum
                rerum corporis. Omnis, iure, ducimus odio cumque magni excepturi ratione expedita quidem, illum
                repellendus accusantium ullam nihil."
            </p>
        </div>

        <!-- Card 7 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-7.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Alex Hales</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae distinctio id autem non,
                necessitatibus delectus minima illum error recusandae ex ullam quae vel, repellat similique assumenda.
                Dolorem doloribus rerum quaerat."
            </p>
        </div>

        <!-- Card 8 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-8.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Joh Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores recusandae reiciendis, qui voluptas
                aspernatur quasi ipsa est aut impedit fugit dolor aperiam explicabo laudantium labore in consectetur
                similique, iste aliquid."
            </p>
        </div>

        <!-- Card 9 -->
        <div data-aos="zoom-in-right" class="h2-urs-card-2 swiper-slide group">
            <div class="h2-urs-header">
                <img src="./assets/images/custommers/custommer-9.jpg" loading="lazy" alt="Homelist2_user-review" />
                <div>
                    <h4 class="group-hover:text-white">Jane Doe</h4>
                    <div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
            </div>
            <p class="group-hover:text-white">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ipsum itaque commodi minima, placeat
                quaerat aliquid ea, fugit optio quo officiis magni error cupiditate perspiciatis. Architecto dignissimos
                aliquam suscipit ipsam?"
            </p>
        </div>
    </div>

    <div data-aos="fade-in"
        class="h2-reviews-swiper-pagination static mx-auto mt-4 w-fit text-center md:mt-6 lg:mt-8 xl:mt-10"></div>
</div>