<div class="gap-30 flex w-full flex-col">
    <div class="p-30 rounded-[20px] shadow-shadow10">
        <h4
            class="text-base font-bold text-new-900 md:text-lg lg:text-xl lg:font-medium xl:text-2xl"
        >
            Search Here
        </h4>
        <hr class="my-3 bg-new-200 md:my-3.5 lg:my-4 xl:my-5" />

        <form class="mx-auto max-w-md">
            <label
                for="default-search"
                class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Search</label
            >
            <div class="relative">
                <div
                class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
                >
                <svg
                    class="h-4 w-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                </svg>
                </div>
                <input
                type="search"
                id="default-search"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-4 ps-10 text-sm text-gray-900 focus:border-primary focus:ring-primary"
                placeholder="Search..."
                required
                />
                <button
                type="submit"
                class="absolute bottom-2.5 end-2.5 rounded-lg bg-primary px-4 py-2 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-4 focus:ring-blue-300"
                >
                Search
                </button>
            </div>
        </form>
    </div>

    <div class="p-30 rounded-[20px] shadow-shadow10">
        <h4
            class="text-base font-bold text-new-900 md:text-lg lg:text-xl lg:font-medium xl:text-2xl"
        >
            Top Categories
        </h4>
        <hr class="my-3 bg-new-200 md:my-3.5 lg:my-4 xl:my-5" />

        <ol
            class="space-y-5 font-poppins text-sm font-medium text-new-900 md:text-base lg:text-lg"
        >
            <li class="transition-all hover:text-secondary-400">
                <a href="#">Modern Luxury Living</a>
            </li>
            <li class="transition-all hover:text-secondary-400">
                <a href="#">Pro Home Finders</a>
            </li>
            <li class="transition-all hover:text-secondary-400">
                <a href="#">Free Service</a>
            </li>
            <li class="transition-all hover:text-secondary-400">
                <a href="#">Rent Home</a>
            </li>
            <li class="transition-all hover:text-secondary-400">
                <a href="#">Home Awaits</a>
            </li>
            <li class="transition-all hover:text-secondary-400">
                <a href="#">Forever Home</a>
            </li>
        </ol>
    </div>

    <div class="p-30 rounded-[20px] shadow-shadow10">
        <h4
            class="text-base font-bold text-new-900 md:text-lg lg:text-xl lg:font-medium xl:text-2xl"
        >
            Popular Posts
        </h4>

        <div class="mt-4 w-full space-y-5 md:mt-5 lg:mt-6 xl:mt-7">
            <!-- Card 1 -->
            <div class="flex gap-2.5 md:gap-3 lg:gap-3.5 xl:gap-4">
                <div class="size-fit">
                <div class="size-20">
                    <img
                        src="assets/images/image-99.png"
                        alt="Property"
                        class="size-20 rounded-[20px] object-cover object-center"
                    />
                </div>
                </div>
                <div>
                <p class="font-poppins text-xs text-new-800">
                    <i
                        class="fa-regular fa-calendar-days text-secondary"
                    ></i>
                    October 19, 2022
                </p>
                <a
                    href="blog.html"
                    class="mt-1.5 text-base font-bold text-new-900 md:text-lg lg:text-xl"
                >
                    A picture is worth standard us return
                </a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="flex gap-2.5 md:gap-3 lg:gap-3.5 xl:gap-4">
                <div class="size-fit">
                <div class="size-20">
                    <img
                        src="assets/images/image-100.png"
                        alt="Property"
                        class="size-20 rounded-[20px] object-cover object-center"
                    />
                </div>
                </div>
                <div>
                <p class="font-poppins text-xs text-new-800">
                    <i
                        class="fa-regular fa-calendar-days text-secondary"
                    ></i>
                    October 19, 2022
                </p>
                <a
                    href="blog.html"
                    class="mt-1.5 text-base font-bold text-new-900 md:text-lg lg:text-xl"
                >
                    Your journ homeowner ship starts here
                </a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="flex gap-2.5 md:gap-3 lg:gap-3.5 xl:gap-4">
                <div class="size-fit">
                <div class="size-20">
                    <img
                        src="assets/images/image-99.png"
                        alt="Property"
                        class="size-20 rounded-[20px] object-cover object-center"
                    />
                </div>
                </div>
                <div>
                <p class="font-poppins text-xs text-new-800">
                    <i
                        class="fa-regular fa-calendar-days text-secondary"
                    ></i>
                    October 19, 2022
                </p>
                <a
                    href="blog.html"
                    class="mt-1.5 text-base font-bold text-new-900 md:text-lg lg:text-xl"
                >
                    Trust us to guide you the a through the process
                </a>
                </div>
            </div>
        </div>
    </div>

    <div class="p-30 rounded-[20px] shadow-shadow10">
        <h4
            class="text-base font-bold text-new-900 md:text-lg lg:text-xl lg:font-medium xl:text-2xl"
        >
            Popular Tags
        </h4>

        <div class="mt-4 flex flex-wrap gap-2.5 md:mt-5 lg:mt-6 xl:mt-7">
            <a href="#" class="tag">Swift Cargo</a>
            <a href="#" class="tag">Global</a>
            <a href="#" class="tag">Nexus</a>
            <a href="#" class="tag">Freight</a>
            <a href="#" class="tag">Elite Trans</a>
            <a href="#" class="tag">Precision</a>
        </div>
    </div>
</div>