<div class="container overflow-hidden px-4 py-8 grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-3">
    <div class="flex flex-col items-start justify-center p-4" data-aos="fade-down">
        <p class="text-md" style="color: rgb(41, 42, 43)">Tại Sao Office SaiGon là Lựa Chọn Hàng Đầu</p>
        <p class="text-xl font-bold leading-tight mt-2" style="color: rgb(34, 35, 36);">
            Tại sao nên chọn <span class="text-sky-600" >Office SaiGon</span> làm đơn vị thiết kế - Thi công nội thất?
        </p>
        <button class="px-3 py-2 text-white rounded-3xl mt-3" style="background: #26A69A;">Đăng ký ngay</button>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="p-8 rounded-3xl flex flex-col gap-8" style="background-color: rgb(2 132 199);" data-aos="flip-up">
            <div class="text-2xl">
                <img src="assets/images/tktknt/intro-9.png" alt="" style="width: 60px; height: 60px;">
            </div>
            <p class="text-white text-[20px]">
                Xu hướng thiết kế luôn được cập nhật và tuỳ biến theo từng brand công ty, đồng thời cần đáp ứng hài hoà được mong muốn của khách hàng và hiện trạng mặt bằng thuê.
            </p>
        </div>
        <div class="p-8 rounded-3xl flex flex-col gap-8" style="background: #26A69A;" data-aos="flip-up">
            <div class="text-2xl">
                <img src="assets/images/tktknt/intro-2.png" alt="" style="width: 60px; height: 60px;">
            </div>
            <p class="text-white text-[20px]">
                Hạch toán chi phí thi công phù hợp cho DN bởi chuyên gia tài chính để đề xuất phương án thiết kế hợp lý, tránh lãng phí trong việc di dời, cải tạo văn phòng.
            </p>
        </div>
        <div class="p-8 rounded-3xl flex flex-col gap-8" style="background: #26A69A;" data-aos="flip-up">
            <div class="text-2xl">
                <img src="assets/images/tktknt/intro-5.png" alt="" style="width: 60px; height: 60px;">
            </div>
            <p class="text-white text-[20px]">
                Đội ngũ KTS và thiết kế hàng đầu trong lĩnh vực thiết kế văn phòng. Có sự am hiểu về đặc điểm, quy định, điều kiện và biện pháp thi công từng tòa nhà hạng A.
            </p>
        </div>
        <div class="p-8 rounded-3xl flex flex-col gap-8" style="background-color: rgb(2 132 199);" data-aos="flip-up">
            <div class="text-2xl">
                <img src="assets/images/tktknt/intro-10.png" alt="" style="width: 60px; height: 60px;">
            </div>
            <p class="text-white text-[20px]">
                Sở hữu nhà máy sản xuất rộng hơn 1000m2 với nhiều máy móc tiên tiến hiện đại, đảm bảo sản phẩm đạt chất lượng cao, đáp ứng mọi nhu cầu của khách hàng.
            </p>
        </div>
        <div class="p-8 rounded-3xl flex flex-col gap-8" style="background-color: rgb(2 132 199);" data-aos="flip-up">
            <div class="text-2xl">
                <img src="assets/images/tktknt/intro-7.png" alt="" style="width: 60px; height: 60px;">
            </div>
            <p class="text-white text-[20px]">
                Đảm bảo tiến độ đúng với quy định của các toà nhà cũng như hợp đồng bàn giao cho doanh nghiệp. Liên hệ tư vấn: 0987110011
            </p>
        </div>
        <div class="p-8 rounded-3xl flex flex-col gap-8" style="background: #26A69A;" data-aos="flip-up">
            <div class="text-2xl">
                <img src="assets/images/tktknt/intro-8.png" alt="" style="width: 60px; height: 60px;">
            </div>
            <p class="text-white text-[20px]">
                Chất lượng và thẩm mỹ luôn được song hành đảm bảo không gian văn phòng phù hợp về công năng sử dụng, hiệu quả về khả năng vận hành cho toàn dự án.
            </p>
        </div>
    </div>
</div>