<div class="container overflow-hidden py-8 px-4 investor-logo-swipe-container">
    <div class="mb-8 flex gap-5 items-center justify-between">
        <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-in-out" class="text-xl md:text-2xl lg:text-3xl font-bold text-navy line-clamp-1 overflow-ellipsis">
            NHỮNG NHÀ TÀI TRỢ
        </h2>

        <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" class="flex gap-1 md:gap-3 min-w-[80px]">
            <button class="investor-logo-swiper-prev rounded-lg border border-gray-300 p-1 md:p-2 transition hover:bg-gold/10 min-w-[22px]">
                <i class="fas fa-chevron-left text-navy text-xs sm:text-md md:text-lg lg:text-xl"></i>
            </button>
            <button class="investor-logo-swiper-next rounded-lg border border-gray-300 p-1 md:p-2 transition hover:bg-gold/10 min-w-[22px]">
                <i class="fas fa-chevron-right text-navy text-xs sm:text-md md:text-lg lg:text-xl"></i>
            </button>
        </div>
    </div>

    <!-- Swiper -->
    <div data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out" data-aos-offset="150" class="investor-logo-swiper overflow-hidden px-2">
        <div class="swiper-wrapper">
            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-CapitaLand-feature.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>

            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-halo-building.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>

            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-Cobi-groupp.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>

            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-ree-coporation.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>

            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-SSG-Group-feature.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100" loading="lazy" style="width: 256px; height: 106px;">
            </div>

            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-maple-tree.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>

            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-moc-gia.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>

            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/logo-regus.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>
            <div class="swiper-slide rounded-xl border border-nature-100 bg-white p-4 transition-all hover:shadow-lg">
                <img src="./assets/logo/saigon-centre.png" alt="TP. Thủ Đức"
                    class="rounded-lg object-cover opacity-80 transition hover:opacity-100 h-auto" loading="lazy" style="width: 256px; height: 106px;">
            </div>
        </div>
    </div>
</div>